In [171]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [172]:
df=pd.read_csv("fraudTest.csv")

In [173]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             555719 non-null  int64
 1   trans_date_trans_time  555719 non-null  object
 2   cc_num                 555719 non-null  int64
 3   merchant               555719 non-null  object
 4   category               555719 non-null  object
 5   amt                    555719 non-null  float64
 6   first                  555719 non-null  object
 7   last                   555719 non-null  object
 8   gender                 555719 non-null  object
 9   street                 555719 non-null  object
 10  city                   555719 non-null  object
 11  state                  555719 non-null  object
 12  zip                    555719 non-null  int64
 13  lat                    555719 non-null  float64
 14  long                   555719 non-null  float64
 15  city_pop               555719 non-null  int64
 16  job                    555719 non-null  object
 17  dob                    555719 non-null  object
 18  trans_num              555719 non-null  object
 19  unix_time              555719 non-null  int64
 20  merch_lat              555719 non-null  float64
 21  merch_long             555719 non-null  float64
 22  is_fraud               555719 non-null  int64
dtypes: float64(5), int64(6), object(12)
memory usage: 97.5+ MB

In [175]:
df.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [176]:
df=df.drop(['Unnamed: 0', 'trans_num','cc_num','unix_time'], axis=1)

In [177]:
df.head()

,trans_date_trans_time,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,merch_lat,merch_long,is_fraud
0,2020-06-21 12:14:25,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,29209,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,33.986391,-81.200714,0
1,2020-06-21 12:14:33,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,84002,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,39.450498,-109.960431,0
2,2020-06-21 12:14:53,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,11710,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,40.495810,-74.196111,0
3,2020-06-21 12:15:15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,32780,28.5697,-80.8191,54767,Set designer,1987-07-25,28.812398,-80.883061,0
4,2020-06-21 12:15:17,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,49632,44.2529,-85.0170,1126,Furniture designer,1955-07-06,44.959148,-85.884734,0

In [178]:
df['trans_date_trans_time']=pd.to_datetime(df["trans_date_trans_time"])
df['hour']=df['trans_date_trans_time'].dt.hour
df['day']=df['trans_date_trans_time'].dt.day
df['month']=df['trans_date_trans_time'].dt.month

In [179]:
df.head()

,trans_date_trans_time,merchant,category,amt,first,last,gender,street,city,state,...,long,city_pop,job,dob,merch_lat,merch_long,is_fraud,hour,day,month
0,2020-06-21 12:14:25,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,...,-80.9355,333497,Mechanical engineer,1968-03-19,33.986391,-81.200714,0,12,21,6
1,2020-06-21 12:14:33,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,...,-110.4360,302,"Sales professional, IT",1990-01-17,39.450498,-109.960431,0,12,21,6
2,2020-06-21 12:14:53,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,...,-73.5365,34496,"Librarian, public",1970-10-21,40.495810,-74.196111,0,12,21,6
3,2020-06-21 12:15:15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,...,-80.8191,54767,Set designer,1987-07-25,28.812398,-80.883061,0,12,21,6
4,2020-06-21 12:15:17,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,...,-85.0170,1126,Furniture designer,1955-07-06,44.959148,-85.884734,0,12,21,6

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555719 entries, 0 to 555718
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  555719 non-null  datetime64[ns]
 1   merchant               555719 non-null  object
 2   category               555719 non-null  object
 3   amt                    555719 non-null  float64
 4   first                  555719 non-null  object
 5   last                   555719 non-null  object
 6   gender                 555719 non-null  object
 7   street                 555719 non-null  object
 8   city                   555719 non-null  object
 9   state                  555719 non-null  object
 10  zip                    555719 non-null  int64
 11  lat                    555719 non-null  float64
 12  long                   555719 non-null  float64
 13  city_pop               555719 non-null  int64
 14  job                    555719 non-null  object
 15  dob                    555719 non-null  object
 16  merch_lat              555719 non-null  float64
 17  merch_long             555719 non-null  float64
 18  is_fraud               555719 non-null  int64
 19  hour                   555719 non-null  int32
 20  day                    555719 non-null  int32
 21  month                  555719 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(3), int64(3), object(10)
memory usage: 86.9+ MB

In [181]:
df["dob"]=pd.to_datetime(df["dob"])

In [182]:
df['age']=df['trans_date_trans_time'].dt.year-df['dob'].dt.year

In [183]:
df.tail()

,trans_date_trans_time,merchant,category,amt,first,last,gender,street,city,state,...,city_pop,job,dob,merch_lat,merch_long,is_fraud,hour,day,month,age
555714,2020-12-31 23:59:07,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,Luray,MO,...,519,Town planner,1966-02-13,39.946837,-91.333331,0,23,31,12,54
555715,2020-12-31 23:59:09,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,Lake Jackson,TX,...,28739,Futures trader,1999-12-27,29.661049,-96.186633,0,23,31,12,21
555716,2020-12-31 23:59:15,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,Burbank,WA,...,3684,Musician,1981-11-29,46.658340,-119.715054,0,23,31,12,39
555717,2020-12-31 23:59:24,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,Mesa,ID,...,129,Cartographer,1965-12-15,44.470525,-117.080888,0,23,31,12,55
555718,2020-12-31 23:59:34,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,Edmond,OK,...,116001,Media buyer,1993-05-10,36.210097,-97.036372,0,23,31,12,27

In [184]:
# Independent and Dependent features
x=df.drop(['is_fraud'], axis=1)
y=df[['is_fraud']]

In [185]:
y

        is_fraud
0              0
1              0
2              0
3              0
4              0
...          ...
555714         0
555715         0
555716         0
555717         0
555718         0

[555719 rows x 1 columns]

In [186]:
df['is_fraud'].value_counts()

is_fraud
0    553574
1      2145
Name: count, dtype: int64

In [187]:
# from imblearn.over_sampling import SMOTE
# oversample=SMOTE()
# x, y=oversample.fit_resample(x,y)

In [188]:
cat_cols=x.select_dtypes(include="O").columns
num_cols=x.select_dtypes(exclude="O").columns

In [189]:
cat_cols

Index(['merchant', 'category', 'first', 'last', 'gender', 'street', 'city',
       'state', 'job'],
      dtype='object')

In [190]:
# Split categorical features
cat_high_card = ['merchant', 'first', 'last', 'street', 'city']
cat_low_card  = ['gender', 'category', 'state', 'job']

In [191]:
num_cols

Index(['trans_date_trans_time', 'amt', 'zip', 'lat', 'long', 'city_pop', 'dob',
       'merch_lat', 'merch_long', 'hour', 'day', 'month', 'age'],
      dtype='object')

PCA mixes all numerical features into new components.

putting transaction amount and time features inside PCA, they will get combined with others.

This can hide their direct interpretability (e.g., “high transaction amount = risky” won’t be directly visible anymore)

In [192]:
#Split numerical columns
num_pca_features = ['lat','long','merch_lat','merch_long','city_pop']
num_direct_features = ['amt','hour','day','month','age']

In [193]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.decomposition import PCA
from sklearn.impute import SimpleImputer
import category_encoders as ce

In [194]:
##Piplines

#numerical piplines
num_pca_pipeline=Pipeline(
    steps=[
        ("scaler",StandardScaler()),
        ("imputer",SimpleImputer(strategy='median')),
        ("pca",PCA(n_components=0.95))  
    ]
)

num_direct_pipeline=Pipeline(
    steps=[
        ("Scaler",StandardScaler()),
        ("imputer",SimpleImputer(strategy='median'))
    ]
)



##categorical piplines
# High-cardinality categorical pipeline → Target Encoding
cat_high_card_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("target_enc", ce.TargetEncoder())
])

# Low-cardinality categorical pipeline → OneHot
cat_low_card_pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("onehot", OneHotEncoder(handle_unknown="ignore"))
])



preprocessor=ColumnTransformer([
    ('num_pca_pipeline', num_pca_pipeline,num_pca_features),
    ('num_direct_pipline',num_direct_pipeline,num_direct_features),
    ('cat_high_card_pipeline',cat_high_card_pipeline,cat_high_card),
    ('cat_low_card_pipline',cat_low_card_pipeline,cat_low_card)
]
)

In [195]:
x=df.drop(labels=['is_fraud'], axis=1)
y=df['is_fraud']

In [196]:
x

,trans_date_trans_time,merchant,category,amt,first,last,gender,street,city,state,...,long,city_pop,job,dob,merch_lat,merch_long,hour,day,month,age
0,2020-06-21 12:14:25,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,Columbia,SC,...,-80.9355,333497,Mechanical engineer,1968-03-19,33.986391,-81.200714,12,21,6,52
1,2020-06-21 12:14:33,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,Altonah,UT,...,-110.4360,302,"Sales professional, IT",1990-01-17,39.450498,-109.960431,12,21,6,30
2,2020-06-21 12:14:53,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,Bellmore,NY,...,-73.5365,34496,"Librarian, public",1970-10-21,40.495810,-74.196111,12,21,6,50
3,2020-06-21 12:15:15,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,Titusville,FL,...,-80.8191,54767,Set designer,1987-07-25,28.812398,-80.883061,12,21,6,33
4,2020-06-21 12:15:17,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,Falmouth,MI,...,-85.0170,1126,Furniture designer,1955-07-06,44.959148,-85.884734,12,21,6,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,2020-12-31 23:59:07,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,M,558 Michael Estates,Luray,MO,...,-91.8912,519,Town planner,1966-02-13,39.946837,-91.333331,23,31,12,54
555715,2020-12-31 23:59:09,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,M,572 Davis Mountains,Lake Jackson,TX,...,-95.4401,28739,Futures trader,1999-12-27,29.661049,-96.186633,23,31,12,21
555716,2020-12-31 23:59:15,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,F,144 Evans Islands Apt. 683,Burbank,WA,...,-118.9017,3684,Musician,1981-11-29,46.658340,-119.715054,23,31,12,39
555717,2020-12-31 23:59:24,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,M,7020 Doyle Stream Apt. 951,Mesa,ID,...,-116.4493,129,Cartographer,1965-12-15,44.470525,-117.080888,23,31,12,55
555718,2020-12-31 23:59:34,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,M,830 Myers Plaza Apt. 384,Edmond,OK,...,-97.4798,116001,Media buyer,1993-05-10,36.210097,-97.036372,23,31,12,27

In [197]:
y

0         0
1         0
2         0
3         0
4         0
         ..
555714    0
555715    0
555716    0
555717    0
555718    0
Name: is_fraud, Length: 555719, dtype: int64

In [198]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [199]:
# Fit and transform just to check
x_transformed = preprocessor.fit_transform(x_train,y_train)

# Convert to dense numpy array

print("Original shape:", x_train.shape)
print("Transformed shape:", x_transformed.shape)

Original shape: (416789, 22)
Transformed shape: (416789, 557)

In [200]:
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

# Example: Logistic Regression pipeline
log_reg_pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor),     # your column transformer
    ("smote", SMOTE(random_state=42)),  # handle imbalance
    ("model", LogisticRegression(max_iter=1000))
])


# Example: Random Forest pipeline
rf_pipeline = Pipeline(steps=[
    ("preprocessor", preprocessor),
    ("smote", SMOTE(random_state=42)),
    ("model", RandomForestClassifier(n_estimators=100, random_state=42))
])

In [201]:
rf_pipeline.fit(x_train, y_train)
y_pred = rf_pipeline.predict(x_test)

In [202]:
from collections import Counter

print("Before SMOTE:", Counter(y_train))   # original imbalance
X_res, y_res = SMOTE(random_state=42).fit_resample(preprocessor.fit_transform(x_train, y_train), y_train)
print("After SMOTE:", Counter(y_res))      # balanced dataset

Before SMOTE: Counter({0: 415173, 1: 1616})
After SMOTE: Counter({0: 415173, 1: 415173})

In [203]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

# Predictions
y_pred = rf_pipeline.predict(x_test)

# Metrics
print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.9986036133304542

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00    138401
           1       0.96      0.66      0.78       529

    accuracy                           1.00    138930
   macro avg       0.98      0.83      0.89    138930
weighted avg       1.00      1.00      1.00    138930


Confusion Matrix:
 [[138388     13]
 [   181    348]]